### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
names = len(df['SN'].unique())
names

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [6]:
#calculate the number of unique items
items = len(df["Item Name"].unique())

#calculate the average price
price = df["Price"].mean()

#number of male players
male_df = df.loc[df['Gender'] == "Male"]
male = len(male_df['SN'].unique())

#number of female players
female_df = df.loc[df['Gender'] == "Female"]
female = len(female_df['SN'].unique())

#number of other/undisclosed players
und_df = df.loc[df['Gender'] == "Other / Non-Disclosed"]
und = len(und_df['SN'].unique())

#calculate the average age
age = df["Age"].mean()

summary_table = pd.DataFrame({"Unique Items": [items],
                              "Average Price": [price],
                              "# of Male Players": male,
                              "# of Female Players": female,
                              "# of Und/Non": und,
                              "Average Age": age})

summary_table

,Unique Items,Average Price,# of Male Players,# of Female Players,# of Und/Non,Average Age
0,179,3.050987,484,81,11,22.714103

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
#Total # of players
total = df['SN'].count()

#number/percent of male players
male_df = df.loc[df['Gender'] == "Male"]
male_num = male_df['Gender'].count()
male_pct = (male_num / total) * 100

#number of female players
female_df = df.loc[df['Gender'] == "Female"]
female_num = female_df['Gender'].count()
female_pct = (female_num / total) * 100

#number of other/undisclosed players
und_df = df.loc[df['Gender'] == "Other / Non-Disclosed"]
und_num = und_df['Gender'].count()
und_pct = (und_num / total) * 100

summary_table = pd.DataFrame({"Male": [male_num],
                              "Male %": [male_pct],
                              "Female": [female_num],
                              "Female %": [female_pct],
                              "Undisclosed": [und_num],
                              "Undisclosed %": [und_pct]})

summary_table


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [10]:
#Older code that works but I think I was completing the sollution in a more roundabout way so I restarted

# fempurchase = female_df['Price'].count()
# femavg_price = female_df['Price'].mean()
# fempriceper = (female_df['Price'].sum() / total)

# mpurchase = male_df['Price'].count()
# mavg_price = male_df['Price'].mean()
# mpriceper = (male_df['Price'].sum() / total)

# summary_mf_df = pd.DataFrame({"Purchase Count (Male)": [mpurchase],"Purchase Count (Female)": [fempurchase],
#                               "Average Purchase Price (Male)": [mavg_price],"Average Purchase Price (Female)": [femavg_price],
#                               "Average Purchase Total (Male)": [mpriceper],"Average Purchase Total (Female)": [fempriceper],})

# summary_mf_df


grouped_df = df.groupby(['Gender'])

groupcount = grouped_df['Price'].count()
grouptotal = grouped_df['Price'].sum()
groupprice = grouped_df['Price'].mean()
uniquecount = len(grouped_df['SN'].unique())

summarytable = pd.DataFrame({"Items Purchased": groupcount,
                             "Total Revenue": grouptotal,
                             "Average Price": groupprice,
                             "Price/Person": grouptotal/groupcount})
summarytable

,Items Purchased,Total Revenue,Average Price,Price/Person
Gender,,,,
Female,113,361.94,3.203009,3.203009
Male,652,1967.64,3.017853,3.017853
Other / Non-Disclosed,15,50.19,3.346000,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_df = df
age_df['Age'] = pd.cut(age_df["Age"], age_bins, labels=group_names)

age_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20-24,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40+,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44
5,5,Yalae81,20-24,Male,81,Dreamkiss,3.61
6,6,Itheria73,35-39,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20-24,Male,162,Abyssal Shard,2.67
8,8,Undjask33,20-24,Male,21,Souleater,1.10
9,9,Chanosian48,35-39,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,20-24,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,20-24,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,20-24,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,20-24,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35-39,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,20-24,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20-24,Male,40,Second Chance,2.52
17,17,Zontibe81,20-24,Male,161,Devine,1.76
18,18,Reunasu60,20-24,Female,82,Nirvana,4.90
19,19,Chamalo71,30-34,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20-24,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20-24,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,35-39,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40+,Male,151,Severance,3.40
24,24,Siala43,30-34,Male,141,Persuasion,3.19
25,25,Lisirra87,25-29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,10-14,Male,71,Demise,1.61
27,27,Eusri44,<10,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,20-24,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,20-24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,20-24,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,10-14,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,15-19,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,35-39,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,20-24,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,10-14,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20-24,Male,73,Ritual Mace,2.05
757,757,Eratiel90,15-19,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,20-24,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25-29,Male,72,Winter's Bite,3.77
760,760,Aithelis62,20-24,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,40+,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,25-29,Male,110,Suspension,1.44
763,763,Lassilsala30,20-24,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,15-19,Male,113,Solitude's Reaver,4.07
765,765,Irith83,15-19,Male,130,Alpha,2.07
766,766,Aelastirin39,20-24,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,<10,Female,92,Final Critic,4.88
768,768,Assassasta79,35-39,Male,92,Final Critic,4.88
769,769,Ilosian36,15-19,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,30-34,Male,12,Dawne,1.02
771,771,Iskossasda43,15-19,Male,25,Hero Cane,4.35
772,772,Asur53,25-29,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,20-24,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,10-14,Male,101,Final Critic,4.19
775,775,Aethedru70,20-24,Female,60,Wolf,3.54
776,776,Iral74,20-24,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20-24,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,<10,Male,101,Final Critic,4.19
779,779,Ennrian78,20-24,Male,50,Dawn,4.60

In [20]:
#number/percent
groupage = df.groupby("Age")
groupage.count()

# less10 = agedf['Age'].count()
# less10_pct = (less10 / total) * 100

# agedf

# summary_table = pd.DataFrame({"Male": [male_num],
#                               "Male %": [male_pct],
#                               "Female": [female_num],
#                               "Female %": [female_pct],
#                               "Undisclosed": [und_num],
#                               "Undisclosed %": [und_pct]})

# summary_table

       Purchase ID   SN  Gender  Item ID  Item Name  Price
Age
<10             23   23      23       23         23     23
10-14           28   28      28       28         28     28
15-19          136  136     136      136        136    136
20-24          365  365     365      365        365    365
25-29          101  101     101      101        101    101
30-34           73   73      73       73         73     73
35-39           41   41      41       41         41     41
40+             13   13      13       13         13     13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
age_df = df.groupby(['Age'])

agecount = age_df['Age'].count()
agetotal = age_df['Price'].sum()
ageprice = age_df['Price'].mean()

summary_age_table = pd.DataFrame({"Items Purchased (age)": agecount,
                             "Total Revenue (age)": agetotal,
                             "Average Price (age)": ageprice,
                                 "Price / Person (age)": agetotal/agecount})
summary_age_table

,Items Purchased (age),Total Revenue (age),Average Price (age),Price / Person (age)
Age,,,,
<10,23,77.13,3.353478,3.353478
10-14,28,82.78,2.956429,2.956429
15-19,136,412.89,3.035956,3.035956
20-24,365,1114.06,3.052219,3.052219
25-29,101,293.00,2.900990,2.900990
30-34,73,214.00,2.931507,2.931507
35-39,41,147.67,3.601707,3.601707
40+,13,38.24,2.941538,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
top5price = df.sort_values(['Price'], ascending=False).head(5)
top5price

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
554,554,Dyally87,20-24,Male,63,Stormfury Mace,4.99
189,189,Hiasri33,20-24,Male,63,Stormfury Mace,4.99
110,110,Ririp86,25-29,Male,139,"Mercy, Katana of Dismay",4.94
246,246,Lirtilsa71,20-24,Male,139,"Mercy, Katana of Dismay",4.94
493,493,Chanirrasta87,10-14,Male,139,"Mercy, Katana of Dismay",4.94

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
popularitems = df['Item Name'].value_counts().head(5)



popularitems

summary_item_table = pd.DataFrame({"Item Name": popularitems})

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Fiery Glass Crusader                             9
Nirvana                                          9
Name: Item Name, dtype: int64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame